
body{
    background-color: rgb(236, 21, 68);
    
    
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(10, 133, 248);
    padding: 1rem;
    /* width: 100%; */
    /* border: 2px solid black; */
    

}

/* STOPEATCH HEADING  */
.heading {
    overflow: none;
    width: 100%;
    /* display: inline-block; */
    /* display: flex; */
    font-size: 3.5rem;
text-align: center;  
  /* border: 2px solid green; */
    color: rgb(238, 237, 224);
    text-shadow: 2px 2px 5px red;
    
    font-weight: bold;
    position: relative;
    
}

.heading img{
    height: 3.5rem;
    width: 3.5rem;
    position: absolute;
    left: 0;
}


/*  CONTAINER  WITH TIMER AND BUTTONS */
.container{
    /* border: 2px solid rebeccapurple; */
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 40%;
    margin:15vh auto;
    /* position: absolute; */
    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    /* border-radius: 50%; */


}
.timer{
    width: 100%;
    text-align: center;
    font-size: 7vw;
    font-weight: bold;
    border-width: 10px;
    padding: 2rem;
    color: rgb(17, 17, 16);
    background-color: rgb(44, 144, 238);
    border-radius: 2px solid rgb(25, 138, 245);
    border-radius: 10px;
    text-shadow: 2px 2px 5px rgb(18, 6, 59);
    
    box-shadow: 7px 7px 10px rgb(33, 38, 39);
}

.button_timer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin:0 auto;
    /* border: 2px solid black; */
    width: 100%;
    
    
}

.mg10{
    background-color: rgb(19, 17, 17);
    margin:10px 20px;
    padding:4px 30px;
    font-size: 1.4rem;
    border-radius: 2px;
    color: aliceblue;
}



/* RESPONSIVe */


@media screen and (max-width: 778px) {
  .timer {
    font-size: 10vw;
    padding: 1rem;
    width: 320px;
    margin: auto;
    width: 100%;
}
  

header{
    position: relative;
    top: 0;
    right: 0;
}

    .heading{
        font-size: 10vw;
    }

    .mg10{
        padding:0px 10px;
        margin: 2px;
        font-size: 1.4rem;
        align-items: baseline;
    }
  
    
}


@media screen and (max-width: 611px){
    .mg10{
        font-size: 1rem;
        margin: auto;
    }
    .button_timer{
        /* border: 2px solid black; */
        width: 70%;
    }
    .container{
        /* border: 2px solid black; */
        box-sizing: border-box;
        width: 300px;
    }
}